/* Importación de la fuente Lato desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  font-family: 'Lato', sans-serif; /* Aplica Lato a la fuente por defecto */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos para el cuerpo del documento, usando Lato como fuente principal */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

#content {
  background-color: #373737; /* oscuro */
  color: #fff;
}

#content nav {
  display: none;
}

footer {
  display: none !important;
}

/* Estilos de títulos */
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* Peso en negrita para los títulos */
  font-size: 3.2em;
  line-height: 1.1;
}
/* Estilos para otros títulos si los necesitas (ej. h2, h3) */
h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}


/* Estilos para enlaces */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Estilos para botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Estilos para el tema claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Ajusta el padding lateral del container-fluid */
.container-fluid {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

/* Puedes ajustar también el padding en pantallas grandes si es necesario */
@media (min-width: 992px) {
    .container-fluid {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}